.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  background-color: white;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  position: fixed;
}
.nav-item {
  padding: 15px;
  text-align: center;
  cursor: pointer;
  color: #666;
  font-size: 20px;
}
.nav-item.active {
  border-left: 3px solid var(--primary-navy);
  color: var(--primary-navy);
}